
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



.head{
    height: 200px;
    background-image:linear-gradient(180deg, #2A1B3D, #3B3B98);
}

.title{
    color: #ff1a75;
    font-family: Poppins;
    font-weight: bold;
    font-size: xx-large;
    float: left;
}

.logo{
    padding-right: 3px;
    width: 35px;
    height: 35px;
}
/*Navbar design*/
nav{
   
    margin-top: 3%;
}

.head .container .navbar{
    margin-top: 0px;
    padding-top: 40px;
}
.head li{
    color: orangered;
}
.active{
    font-weight: bold;
}

/* @media only screen and (max-width: 768px) {
    
.head{
    height: 500px;
}
} */

